.h1{
    text-align: center;
    color: white;
    text-size-adjust: bold;
}
.body{
    background-color: darkslateblue;
}
.p{
    font-family: 'Gill Sans' ,sans-serif;
    color: greenyellow;
    text-align: center;
}
